* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882f6;
    border-radius: 8px;
}

.content {
    padding-top: 140px;
    display: flex;
}

.content button {
    border: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: none;height: 50px;
    color: #F9FAF8;
    background-color: #1F2937;   
    padding: 2em 0;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 800;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

header {
    padding: 1em 13em;
    background-color: #1F2937; 
    height: 500px;
}

.hero {
    margin-bottom: 20px;
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;
}

img {
    height: 200px;
    width: 600px;
}

.left-content > button {
    margin-top: 20px;
}

.left-nav {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    flex-direction: column;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.person {
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    margin-left: 500px;
}

.placeholder {
    width: 300px;
    height: 200px;
}

p {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.quote-info {
    height: 300px;
    background-color: #E5E7EB;
}

.quote, .person {
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    word-wrap: inherit;
    background-color: #E5E7EB;
    height: 340px;
}

.right-content {
    display: flex;
    padding-left: 200px;
}

.right-nav {
    display: flex;
    align-items: center;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.signup-bottom {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    gap: 20px;
}